.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header > h2 {
  margin: 0.5em 0;
}

nav > ul {
  margin: 0;
  display: flex;
  list-style-type: none;
  justify-content: center;
  background-color: #282c34;
  padding: 0;
}

nav > ul > li {
  padding: 0.5em 1em;
  color: white;
  font-size: calc(10px + 1.5vmin);
  text-decoration: underline;
  cursor: pointer;
}

nav > ul > li > a {
  color: inherit;
}

.runs_container {
  display: flex;
  flex-basis: 0;
  justify-content: space-around;
}

.runs_container > div {
  border: solid 0.2em #282c34;
  text-wrap: wrap;
  width: 25%;
}
